streamlit
langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
langchain-chroma
chromadb
groq
python-dotenv
langchain-huggingface
sentence-transformers
fastapi
uvicorn